@import './components/mixins.scss';
@import './components/variables.scss';

header {
	grid-area: 2 / 2 / 3 / 3;
	position: fixed;

	h1 {
		font-size: 3rem;
		font-weight: 700;
	}

	h2 {
		font-weight: 400;
		font-size: 1.25rem;
		margin: 0 0 1rem;
		display: block;
		border-bottom: 0.063rem solid $orange;
		color: $orange;
	}

	p {
		max-width: 25rem;
		font-size: 0.9rem;
		line-height: 1.5rem;
		margin-bottom: 3rem;
	}
}
