/*
	4px = .25rem
	10px = 0.625rem
	12px = 0.75rem
	14px = 0.875rem
	16px = 1rem (base)
	18px = 1.125rem
	20px = 1.25rem
	24px = 1.5rem
	30px = 1.875rem
	32px = 2rem
*/

@import './components/reset.scss';
@import './components/variables.scss';

:root {
	font-size: 100%;
	font-family: system-ui, Roboto, sans-serif;
}

body {
	color: $black;
	background-color: $white;
	box-sizing: border-box;

	@media (prefers-color-scheme: dark) {
		color: $white;
		background-color: $darkestGray;
	}
}
#root {
	display: grid;
	grid-template-columns: 2.5rem 1fr 5.5rem 1fr 2.5rem;
	grid-template-rows: 2.5rem 1fr 3.5rem;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100vh;
	position: relative;
	color: $black;

	@media screen and (max-width: $mobile) {
		display: block;
		margin: 5rem 5rem;
	}

	@media (prefers-color-scheme: dark) {
		color: $white;
	}
}
