/*
	4px = .25rem
	10px = 0.625rem
	12px = 0.75rem
	14px = 0.875rem
	16px = 1rem (base)
	18px = 1.125rem
	20px = 1.25rem
	24px = 1.5rem
	30px = 1.875rem
	32px = 2rem
*/

:root {
	font-family: system-ui, Roboto, sans-serif;
}

html {
	font-size: 100%;
}

* {
	margin: 0;
	padding: 0;
}
