@import './components/variables.scss';

.rainbow {
	background-color: $darkestGray;
	color: $white;
	border-radius: 0.7rem;
	cursor: pointer;
	padding: 0.5rem 1rem;
	font-weight: 700;

	@media (prefers-color-scheme: dark) {
		color: $orange;
		background-color: $white;
	}
}

.rainbow:hover {
	color: #000;
	background-image: linear-gradient(90deg, #75d5fd 0%, #b76cfd 49%, #ff2281 80%, #75d5fd 100%);
	animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
	to {
		background-position: 20vw;
	}
}
