@import './components/variables.scss';

.resumeBtn {
	background-color: $darkestGray;
	color: $white;
	border-radius: 0.7rem;
	padding: 0.5rem 1rem;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;

	@media (prefers-color-scheme: dark) {
		color: $darkestGray;
		background-color: $white;
	}
}

.resumeBtn:hover {
	color: #000;
	background-image: linear-gradient(90deg, #29dcff 0%, $orange 50%, #29dcff 100%);
	animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
	to {
		background-position: 20vw;
	}
}
